# ==================================================
# Python
# ==================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# HF Token
.env

# Numpy compressed arrays
*.npz