torch==2.9.1
torchvision==0.24.1
torchaudio==2.9.1

transformers>=4.36,<5
accelerate>=0.25,<1
hf_transfer>=0.1.6

datasets>=2.14,<3
numpy>=1.23,<3
scikit-learn>=1.2,<2
matplotlib>=3.7,<4
tqdm>=4.65,<5
pandas>=1.5,<3
seaborn>=0.12,<1